p {
    font-family: Roboto, Arial;
    margin:0px;
}
body{
    margin:0;
    padding-left:96px;
    padding-top:80px;
    padding-right:24px;
}
button,
img,
p {
    cursor:pointer;
}
@media(min-width:1200px){
    body{
        padding-left: 220px;
    }
}