.search-bar{
    display: block;
}
.header{
    height:55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color: white;
    border:none;
    z-index: 200;

}
.left-section{
    display:flex;
    align-items: center;
}
.hamburger-menu{
    height: 25px;
    
}
.hamburger-menu-button{
    border-radius: 50%;
    border:none;
    background-color: rgba(255, 255, 255, 0);
    height:40px;
    width: 40px;
    margin-left:24px;
    margin-right:23px;
}
.hamburger-menu-button:hover{
    background: rgba(220, 218, 218);
}

.youtube-logo{
    height:20px;
}

.middle-section{
    flex:1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display:flex;
    align-items: center;
}
.search-bar-together{
    height:40px;
    display:flex;
    align-items: center;
    width:100%;
    max-width:600;
    margin:0;
    border:1px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
    background-color: white;
}
.search-bar{
    flex:1;
    height:36px;
    padding-left:10px;
    font-size:16px;
    border:none;
    padding: 12px 16px;
    outline:none;
    width:0;
}
.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size:16px;

}
.search-button{
    border:none;
    padding:12px 15px;
    border-left: 1px solid #ccc;
    margin-right:10px;
    background-color: white;
    
}
.search-icon{
    height:25px;
}
.voice-search-icon{
    height:25px;
    border-radius: 50%;

}
.voice-search-button{
    margin-left:20px;
    height:40px;
    width:40px;
    border-radius: 50%;

}

.voice-search-button, 
.notification-button{
    border:none;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.voice-search-button .tooltip, 
.notification-button .tooltip{
    position:absolute;
    background-color: gray;
    color: white;
    padding:6px 6px;
    border-radius: 2px;
    font-size: 12px;
    bottom:-30px;
    opacity:0;
    white-space: nowrap;
    font-family: Roboto, Arial;
}
.voice-search-button:hover .tooltip,
.notification-button:hover .tooltip{
    opacity:1;
}

.right-section{
    width:250px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
}
.create-icon{
    height:25px;
    border-radius: 50%;
}
.create-button{
    display: flex;
    align-items: center;
    height:40px;
    width:100px;
    border-radius: 25px;
    border:none;
    justify-content: space-around;
}
.create-button p{
    font-weight: 600;
    font-size: 14px;
}
.notification-icon{
    height:25px;
}
.notification-button{
    border-radius: 50%;
    height:40px;
    border:none;
    background-color: white;
    position: relative;
}

.current-user-picture-button{
    border-radius:50%;
    border:none;
    background-color: white;
}
.current-user-picture{
    margin-right: 18px;
}
.notification-container{
    position:relative;
}
.notification-count{
    position:absolute;
    top:0;
    right:0;
    background-color: rgb(200, 0, 0);
    color:white;
    font-family:Roboto, Arial;
    font-size:12px;
    border-radius: 50%;
    padding:2px 6px;
    border: 1px solid white;

}
@media (max-width:600px) {
    .header{
        display:flex;
        height:70px;
    }
    
    .middle-section{
        margin-left: 0;
        margin-right: 5px;
    }
    .youtube-logo{
        margin-left: -5px;
        margin-right: 5px;
    }
    .middle-section button{
        display: none;
    }
    .right-section{
        display: flex;
        flex:1;
        justify-content: center;
        align-items: center;
    }
    .create-button p{
        display:none;
    }
    .create-button{
        width: 40px;
    }
}
