.header{
    display: grid;
    grid-template-columns: 350px 1fr 1fr;
    height: 70px;
    border-bottom: 1px solid #ccc;
}
.left-section{
    margin-left: 50px;
    display:flex;
    align-items: center;
}
h1{
    font-family: Roboto, Arial;
    color: black;
}
.middle-section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.search-bar{
    font-family: Roboto, Arial;
    border-radius: 40px;
    border: 1px solid rgb(199, 199, 199);;
    height: 40px;
    width:30%;
    font-size: 15px;
    padding: 20px 45px 20px 20px;
    outline: none;
}
.right-section{
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 50px;
}
.log-in-p {
    color: gray;
    white-space: nowrap;
}
.header a{
    text-decoration: none;
}
.black{
    color:black
}
@media(max-width:840px){
    .header{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:200px
    }
    .search-bar{
        width:100%;
        margin: 10px;
    }
    .left-section{
        margin:0;
    }
    .right-section p{
        margin-right: 5px;
    }
}
