.about-section {
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.profile-image{
    max-width:200px;
    margin-bottom: 25px;
}
.profile-image img {
    width:100%;
    border-radius: 50%;
}
.about-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}
.about-text {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}
strong{
    white-space: nowrap;
}