*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #f2f2f2;
}
@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.logos{
    overflow: hidden;
    padding: 40px 0; 
    background: #fff;
    white-space: nowrap;
    position: relative;
}
.logos::before,
.logos::after{
    position: absolute;
    top:0;
    width:250px;
    height: 100%;
    content: "";
    z-index:5;
}
.logos::before{
    background: linear-gradient(to left, rgba(255,255,255,0),#fff);
    left:0;
}
.logos::after{
    background: linear-gradient(to right, rgba(255,255,255,0),#fff);
    right:0;
}

.logos:hover .logos-slide{
    animation-play-state: paused;
}
.logos-slide{
    display: inline-block;
    animation: 35s slide infinite linear;
}
.logos-slide img{
    width: 250px;
   margin: 0 40px;
}
.small-container {
  max-width: 1300px;
  margin: auto;
  padding: 100px 25px;
}
.row-1 {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap; /*Gdy zabraknie miejsca, elementy przechodzą do nowej linii. */
  justify-content: space-between;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /*Gdy zabraknie miejsca, elementy przechodzą do nowej linii. */
  justify-content: space-around;
}
h2 {
  font-size: 50px;
  margin-left: 20px;
}
section a {
  font-size: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  margin-left: 30px;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
  text-align: center;
  font-size: 36px;
}
.first-section .col-2 img {
  width: 100%;
  padding: 20px;
}
.col-2 h3 {
  display: block;
  margin-left: 30px;
}
.bcg-color {
  background: radial-gradient(#821458, #b0a3bf);
  width: 100%;
  position: absolute;
  z-index: -1;
  height: 200px;
}
.col-3 img {
  width: 150px;
  border-radius: 50%;
  padding: 14px;
}
.row .col-3 p {
  display: inline-block;
}
.row .col-3 {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.col-5 {
  flex-basis: 20%;
}
.col-5 img {
  width: 150px;
  filter: grayscale(100%);
}
.col-5 img:hover {
  filter: grayscale(0);
}
.utensils .col-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 600px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .logos::before,
  .logos::after{
    background: rgba(255,255,255,0);
  }
  .logos:hover .logos-slide{
    animation-play-state:initial;
}
  .row {
    text-align: center;
    flex-direction: column;
  }
  .col-2,
  .col-3,
  .col-4,
  .col-5 {
    flex-basis: 100%;
  }
  .small-container {
    padding: 30px 20px;
  }
  body {
    width: 100%;
  }
  h2 {
    font-size: 32px;
  }
  p {
    font-size: 18px;
    padding: 20px 0;
  }
  .first-section .col-2 img {
    padding: 10px;
  }
 .col-3{
    text-align: center;
    padding:10px;
    margin:0;
 }
 .col-2{
    width:100%;
}
.col-5 > *{
    padding: 15px;
}
}
