.grid-container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin-top: 100px;
}
.grid-container-of-images{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 40px;
}
.image-of-the-dish{
    position: relative;
    overflow: hidden;
    display: inline-block;
    width:100%;
    height: 100%;
}
.image-of-the-dish img{
    height:auto;
    width:100%;
    display: block;
    transition: transform 0.3s ease-in-out;
}
.image-of-the-dish::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); /* Domyślnie przezroczysta */
    transition: background 0.3s ease-in-out;
    z-index: 1;
}
.image-of-the-dish:hover::after {
    background: rgba(0, 0, 0, 0.5);
}
.text{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-weight:600;
    font-size: 16px;;
    color:white;
    opacity:0;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
}
.image-of-the-dish:hover .text{
    opacity: 1;
}
.image-of-the-dish:hover img {
    transform: scale(1.06); /* Delikatne powiększenie obrazu */
}
i{
    font-size:40px;
    color:white;
}
button{
    border-radius: 50%;
    border: 4px solid white;
    padding: 4px;
    margin-top:10px;
    background-color: transparent;
}
@media (max-width: 850px){
    .grid-container{
        grid-template-columns: 1fr 2fr 1fr;
    }
    .grid-container-of-images{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 851px) and (max-width:1000px){
    .grid-container{
        grid-template-columns: 1fr 3fr 1fr;
    }
    .grid-container-of-images{
        grid-template-columns: 1fr 1fr 1fr;
    }
}