main .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.middle-section-wrapper{
    position: relative;
}
.wrapper h2{
    margin-left: 50px;
    margin-top: 50px;
    font-size: 60px;
    margin-bottom: 30px;
}
.wrapper .text-and-image{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
}
.text-and-image .image{
    width:400px;
    margin-right:10px;
}
.image img{
    width:100%
}
.text-and-image .text{
    margin-left:10px;
    position:relative;
}
.text h3{
    font-size: 50px;
    margin-bottom: 10px;;
}
.text span{
    font-weight: 600;
}
.text .ingredients{
    margin-bottom:10px;
}
ol{
    margin-left:20px;
}
.button .next {
    padding:9px 18px;
    border-radius: 10px;
    border:1px solid rgb(153, 153, 153);
    box-shadow: none;
    background-color: white;
    color:gray;
    cursor: pointer;
    position:absolute;
    left:330px;
}
.next:active{
    background-color: rgb(201, 200, 200);
    
}
@media (max-width:940px){
    .text-and-image .image{
        width:200px;
        margin-right:10px;
    }
    p{
        max-width: 200px;
    }
    h3{
        font-size: 30px;
    }
}